{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/asistencia.css'%}">
{% endblock %}

{% block content %}
<div class="main_column">
    <div class="main_row">
        <div class="asistencias">
            <h2><u> REGISTRAR AUSENCIA:</u></h2>
            <p> <h2>Alumnos:</h2> 
                {% for i in lista %}
                    <select name="" id="">
                        <option value={{ i.dni }}>{{ i.nombre }} {{ i.apellido }}</option>
                    </select>
                {% endfor %}
            </p>
        </div>
        <div class="llegadas_tarde">
            <h2><u>ACTUALIZAR AUSENCIA A LLEGADA TARDE:</u></h2>
        </div>
    </div>
    <button></button>
</div>
{% endblock %}
