{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static '/css/asistencia.css'%}">
</head>
<body>
    <div class="main_column">
        <div class="main_row">
            <div class="asistencias">

            </div>
            <div class="llegadas_tarde">
                
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
