{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/asistencia.css'%}">
{% endblock %}

{% block content %}
<div class="main_column">
    <div class="main_row">
        <form method="POST" action="">
        {% csrf_token %}
        
        {% if subir == 'false' %}
        <div class="asistencias">
            <h2><u> REGISTRAR AUSENCIA:</u></h2>
            <p> <h2>Alumnos:</h2>   
                
                    

                    {% for i in alumnos %}
                    
                    <p>{{ i.nombre }} {{i.dni}}</p><input type="checkbox" name="alumno{{i.dni}}" placeholder="" class="form-control">
                    
                    {% endfor %}
                    
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Ingresa" name="pasar">
                    </div>   
            </p>
        </div>
        {% endif %}  

        {% if subir == 'true' %}
        <div class="llegadas_tarde">
            <h2><u>ACTUALIZAR AUSENCIA A LLEGADA TARDE:</u></h2>
                {% for i in faltas %}
                <p>{{ i.nombre }} {{i.dni}}</p>
                <p>Llegada</p>
                <input type="checkbox" name="llegada{{i.dni}}" placeholder="" class="form-control">
                <p>Hora</p>
                <input type="time" name="hora{{i.dni}}" placeholder="" class="form-control">
                {% endfor %}     
            </div>
            
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Ingresa" name="subir">
            </div>
        {% endif %}            
        </form>
    </div>
    
</div>
{% endblock %}
