{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Pagina Web {% endblock %}</title>


    <link rel="stylesheet" href="{%static '/css/base.css'%}">
    {% block head %}
    

    {% endblock %}
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="{% url 'villada'%}" class="nav-logo">Villada</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{% url 'login'%}" class="nav-link">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register'%}" class="nav-link">Registrate</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cursos'%}" class="nav-link">Cursos</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
  </header>
  

    

    {% block content %}

    {% endblock %}
    
    
    <footer class="footer">
        <h3>Copyright © 2022</h3>
    </footer>
    <script src="{%static '/js/base_js.js'%}"></script>
</body>
</html>