{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Pagina Web {% endblock %}</title>


    <link rel="stylesheet" href="{%static '/css/base.css'%}">
    {% block head %}
    

    {% endblock %}
</head>
<body>
    <div class="navbar">   
        <ul>
            <li><a href="">Ruta</a></li>
            <li><a href="">FeedBack</a></li>
            <li><a href="">Puntos</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Cuenta</a>
              <div class="dropdown-content">
                <a href="">Tu Perfil</a>
                <a href="">Cerrar Sesion</a>
              </div>
            </li>
          </ul>
    </div>
      
    <div class="main">
        <p>Some text some text some text some</p>
    </div>

    

    {% block content %}

    {% endblock %}
    
    
    <footer class="footer">
        <h3>Copyright © 2022</h3>
    </footer>
</body>
</html>