{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Pagina Web {% endblock %}</title>


    <link rel="stylesheet" href="{%static '/css/base.css'%}">
    {% block head %}
    

    {% endblock %}
</head>
<body>
  <header class="header">
      <nav class="navbar">
          <a href="#" class="nav-logo">WebDev.</a>
          <ul class="nav-menu">
              <li class="nav-item">
                  <a href="#" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Contact</a>
              </li>
          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>

          <span>{{request.user}}</span>
          <span><a href="{% url 'login' %}">Logout</a></span>
      </nav>

  </header>
  

    

    {% block content %}

    {% endblock %}
    
    
    <footer class="footer">
        <h3>Copyright © 2022</h3>
    </footer>
    <script src="{%static '/js/base_js.js'%}"></script>
</body>
</html>