{% extends "villadApp/base.html" %}
{% load static %}

{% block title %}
    Cursos ITSV
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/curso.css'%}">
{% endblock %}

{% block content %}
    <div class="titulo">
        <h1><u><a href="{% url 'descripcion' objeto='dias' elemento='All' atributo=curso_alumnos%}">{{curso}}</a></u></h1>
    </div>
    
    <div class="container-grid-main">
        <table>
            <th>ALUMNOS</th>
            {% for i in alumnos %}
            <tr>
                <td><a href="{% url 'profile' tipo='estudiante' dni=i.dni%}"><span class="texto_responsive" data-desktoptext="{{i.apellido}}, {{i.nombre}}" data-phonetext="{{i.apellido}}, {{i.nombre}}"></span></a></td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <th>MATERIAS</th>
            {% for i in materias %}
            <tr>
                <td><a href="{% url 'descripcion' objeto='materias' elemento=i.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.nombre}}" data-phonetext="{{i.abreviado}}"></span></a></td>
            </tr>
            {% endfor %}
            
        </table>
    </div>


{% endblock %}