{% extends "villadApp/base.html" %}
{% load static %}

{% block title %}
    Cursos ITSV
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/cursos.css'%}">
{% endblock %}

{% block content %}

    <div class="titulo">
        <h1>CURSOS</h1>
    </div>

    <div class="cursos">
        {%for i in cursos%}
            <div class="curso{{i}}">
                <button class="obj{{i}}">{{i}}°</button>
                <div class="curso{{i}}-content">
                    <a href="{% url 'curso' año=i divicion='A' %}">A</a>
                    <hr>
                    <a href="{% url 'curso' año=i divicion='B' %}">B</a>
                    <hr>
                    <a href="{% url 'curso' año=i divicion='C' %}">C</a>
                </div>
            </div>
        {%endfor%}
    </div>

    <script src="{%static '/js/cursos.js'%}"></script>


{% endblock %}