{% extends "villadApp/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/login.css'%}">
    <title>Login</title>
</head>
<body>



{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/login.css'%}">
{% endblock %}

{% block content %}
    <div class="div_main">
        <div class="div_header">
            <div class="conteiner">
                <div class="div_img_villada">
                    <img src="{%static '/src/villadalogo.png'%}" alt="" class="img_villada">
                </div>
                <div class="div_title">
                    <h1 class="h1_title">LOGIN</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}