{% extends "villadApp/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/login.css'%}">
	

    <title>Login</title>
</head>
<body>



{% block title %}
    Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/login.css'%}">
{% endblock %}

{% block content %}
<div class="div_prin" id="div_prin">
	<div class="div_containt">
		<div class="div_img">
			<img src='/static/src/villadalogo.png' alt="" class="img_villada">
			<div class="txt_log">
				<h1 class="txt_ini">Log In</h1>
			</div>
		</div>
		<div class="div_log_cont">
			<div class="log">
				<label for="username" class="txt_email">Put your E-mail</label>
				<input type="text" id="username" placeholder="E-mail">
			  </div>
			  <div class="log">
				<label for="password" class="txt_pass">Put your Password</label>
				<input type="password" id="password" placeholder="Password">
				<div class="div_dont">
					<button id="btn_dha" onclick="register()">Don't you have an account?</button>
				  </div>
			  </div>
			  <button class="btn_log" role="button" id="btn_log">LOG IN</button>
			 
			</div>
	</div>
</div>


<div class="div_sec" id="div_sec">
	<div class="div_containt2">
			<div class="txt_reg">
				<h1 class="txt_reg">Register</h1>
			</div>
		<div class="div_reg_cont">
			<div class="log">
				<label for="username" class="txt_email2">Put your E-mail</label>
				<input type="text" id="username2" placeholder="E-mail">
			  </div>
			  <div class="log">
				<label for="password" class="txt_pass2">Put a Password</label>
				<input type="password" id="password2" placeholder="Password">
			<div class="log2">
				<label for="password" class="txt_pass2">Repeat the Password</label>
				<input type="password" id="password3" placeholder="Password">
			</div>	
			</div>
			  <button class="btn_reg" role="button" id="btn_reg" onclick="login()">READY!</button>
		</div>
</div>
<script src="{%static '/js/login.js'%}"></script>
{% endblock %}