{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/login.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="div_main">
        <div class="div_header">
            <div class="div_logo">

            </div>
            <div class="div_title">
                <h1 class="h1_title">LOGIN BRO</h1>
            </div>
        </div>
    </div>
</body>
</html>