{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Vishada
{% endblock %}
    
{% block head %}
<link rel="stylesheet" href="{%static '/css/main.css'%}">
{% endblock %}


{% block content %}
<body>
    <div class="container">
        <div class="container-logo">
            <img class="logo" src="../static/src/villadalogo.png" alt="Logo Villada">
        </div>
        <div class="container-texto">
            <h1 class="titulo" data-text="ITS VILLADA">ITS VILLADA</h1>
            <p class="texto">Pagina principal del colegio ITS Villada probando texto jaja saludos a la flia q vaya todo bien :)</p>
        </div>
    </div>
</body>
{% endblock %}



