{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Vishada
{% endblock %}
    
{% block head %}
<link rel="stylesheet" href="{%static '/css/main.css'%}">
{% endblock %}


{% block content %}
<body>

    <div class="superior">
        <h1 class="superior-titulo">ITS Villada</h1>
    </div>

    <div class="container">
        <div class="explicacion">
            <div class="explicacion-logo">
                <img class="logo" src="../static/src/villadalogo.png" alt="Logo Villada">
            </div>
            <div class="explicacion-texto">
                <h1 class="titulo" data-text="ITS VILLADA">ITS VILLADA</h1>
                <p class="texto">Pagina principal del colegio ITS Villada.</p>
                <p class="texto">Colegio salesiano de la provincia de Cordoba ambientado en la parte tecnica de la enseñanza.</p>
                <p class="texto">Cuenta con las especialidades de Programacion, Electronica y Electromecanica donde en cada una el alumno sale con una muy buena base de su especialidad y con un titulo para empezar a trabajar.</p>
            </div>
        </div>

        <div class="pagina">
            <div class="pagina-imagen">
                <img class="imagen" src="../static/src/pagina.jpg" alt="Pagina web">
            </div>
            <div class="pagina-texto">
                <h1 class="titulo" data-text="SOBRE LA PAGINA">SOBRE LA PAGINA</h1>
                <p class="texto">Esta pagina tiene varias funcionalidades, pero varia mucho segun que tipo de usuario seas, por ejemplo, si sos Alumno vas a tener diferentes opciones a que si sos padre o profesor..</p>
                <p class="texto">Los alumnos pueden ir sabiendo sus registros de faltas o notas, asi como sus materias del dia, sus profesores o preceptor.</p>
                <p class="texto">Los profesores van a poder ir poniendo el registro de las faltas en sus materias y de las notas respectivas de cada alumno</p>
                <p class="texto">Los padres podran ver lo mismo que los alumnos, pero, si tienen mas de un hijo en el colegio, tendran los perfiles de sus 2 hijos</p>
            </div>
        </div>
        
    </div>
    
</body>
{% endblock %}



