{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Vishada
{% endblock %}
    
{% block head %}
<link rel="stylesheet" href="{%static '/css/materias.css'%}">
{% endblock %}

{% block content %}

    {% if objeto == 'materias' %}

    <div class="header-materias">
        <h1 class="titulo" id="titulo"> {{elemento_nombre}} </h1>
        <div class="parrafo-main">
            <p class="parrafo" id="parrafo"> {{elemento_descripcion}}
            </p>
        </div>
        
        <button id="boton" onclick="animacion()">+ INFO</button>
    </div>
    <script src="{%static '/js/materias.js'%}"></script>

    {% elif objeto == 'modulos' %}

    <div class="header-materias">
        <h1 class="titulo" id="titulo"> {{elemento_nombre}} </h1>
        <div class="container-table">
            <table class="table">
                <tr>
                    <th scope="row"><a href="{% url 'villada'%}"> Día</a></th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miecoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <th>1er Modulo</th>
                    {% for i in elemento_descripcion %}
                    <td><a href="{% url 'descripcion' objeto='materias' elemento=i.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.nombre}}" data-phonetext="{{i.abreviacion}}"></span></a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    
    {% else %}
    
    {% endif %}

{% endblock %}