{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Vishada
{% endblock %}
    
{% block head %}
<link rel="stylesheet" href="{%static '/css/materias.css'%}">
{% endblock %}

{% block content %}

    {% if objeto == 'materias' %}

    <div class="header-materias">
        <h1 class="titulo" id="titulo"> {{elemento_nombre}} </h1>
        <div class="parrafo-main">
            <p class="parrafo" id="parrafo"> {{elemento_descripcion}}
            </p>
        </div>
        
        <button id="boton" onclick="animacion()">+ INFO</button>
    </div>
    <script src="{%static '/js/materias.js'%}"></script>

    {% else %}

    <div class="header-materias">
        <h1 class="titulo" id="titulo"> {{elemento_nombre}} </h1>
        <div class="container-table">
            <table class="table">
                <tr>
                    <th scope="row"><a href="{% url 'villada'%}"> Día</a></th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miecoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <th>1er Modulo</th>
                    <td><a href="{% url 'descripcion' objeto='materias' elemento=elemento_descripcion.Lunes atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{elemento_descripcion.Lunes}}" data-phonetext="{{elemento_descripcion_abr.Lunes}}"></span></a></td>
                    <td><a href="{% url 'descripcion' objeto='materias' elemento=elemento_descripcion.Martes atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{elemento_descripcion.Martes}}" data-phonetext="{{elemento_descripcion_abr.Martes}}"></span></a></td>
                    <td><a href="{% url 'descripcion' objeto='materias' elemento=elemento_descripcion.Miercoles atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{elemento_descripcion.Miercoles}}" data-phonetext="{{elemento_descripcion_abr.Miercoles}}"></span></a></td>   
                    <td><a href="{% url 'descripcion' objeto='materias' elemento=elemento_descripcion.Jueves atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{elemento_descripcion.Jueves}}" data-phonetext="{{elemento_descripcion_abr.Jueves}}"></span></a></td> 
                    <td><a href="{% url 'descripcion' objeto='materias' elemento=elemento_descripcion.Viernes atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{elemento_descripcion.Viernes}}" data-phonetext="{{elemento_descripcion_abr.Viernes}}"></span></a></td>              
                </tr>
            </table>
        </div>
    </div>

    </div>
    {% endif %}

{% endblock %}