{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
{% endblock %}

{% block content %}
<div class="content">
    margin-top: 30px;
    <div class="principal-main">
        <div class="principal-imagen">
            <img src="{%static '/src/logo_profile.png'%}" alt="">
        </div>
        <div class="principal-menu">
            <h1>HOLA</h1>
        </div>
    </div>
</div>
{% endblock %}