{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
{% endblock %}

{% block content %}
<div class="content">
    
    <div class="principal-main">
        <div class="principal-profile">
            <img src="{%static '/src/logo_profile.png'%}" alt="">
            <div class="principal-profile-info">
                <h1>{{"El Perro Piola"}}</h1>
                <h3>{{"4to D - Cheff"}}</h3>
                <h3>{{"Mascota"}}</h3>
            </div>
            
        </div>
        <div class="principal-menu">
            <table class="table">
                <tr>
                  <th scope="row">Día</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miecoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                </tr>
                <tr>
                    <th>1ra Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                  </tr>
                <tr>
                  <th>2da Hora</th>
                  <td>1 Lunes</td>
                  <td>1 Martes</td> 
                  <td>1 Miercoles</td>   
                  <td>1 Jueves</td> 
                  <td>1 Viernes</td>              
                </tr>              
                <tr>
                    <th>3ra Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr> 
                <tr>
                    <th>4ta Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>  
                <tr>
                    <th>5ta Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>  
                <tr>
                    <th>6ta Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>   
                <tr>
                    <th>7ma Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>   
                <tr>
                    <th>8va Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>   
                <tr>
                    <th>9na Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>   
                <tr>
                    <th>10ma Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr> 
                <tr>
                    <th>11va Hora</th>
                    <td>1 Lunes</td>
                    <td>1 Martes</td> 
                    <td>1 Miercoles</td>   
                    <td>1 Jueves</td> 
                    <td>1 Viernes</td>              
                </tr>            
              </table>
        </div>
    </div>
</div>
{% endblock %}