{% extends "villadApp/base.html" %}
{% load static %}


{% block title %}
    Pagina Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/profile.css'%}">
{% endblock %}

{% block content %}
<!-- LOGO E INFO -->
<div class="principal-main">
    <div class="principal-profile">
        <img src="{%static '/src/logo_profile.png'%}" alt="">
        <div class="principal-profile-info">
            <h1>{{estudiante.apellido}}, {{estudiante.nombre}}</h1>
            <h3>{{estudiante.curso}}</h3>
            <h3>{{rol}}</h3>

        </div> 
    </div>
</div>


<div class="botones">
    <button class="button" onclick="horarios()">HORARIOS</button>
    <button class="button" onclick="faltas()">FALTAS</button>
</div>


    
<!-- TABLA DE HORARIOS-->
<div class="principal-menu" id="principal-menu">
    <table class="table">
        <tr>
            <th scope="row"><a href="{% url 'descripcion' objeto='dias' elemento='All' atributo=atributo %}"><span class="texto_responsive" data-desktoptext="Modulos" data-phonetext="Mod"></span></a></th>
            <th><a href="{% url 'descripcion' objeto='dias' elemento='Lunes' atributo=atributo %}"><span class="texto_responsive" data-desktoptext="Lunes" data-phonetext="Lun"></span></a></th>
            <th><a href="{% url 'descripcion' objeto='dias' elemento='Martes' atributo=atributo %}"><span class="texto_responsive" data-desktoptext="Martes" data-phonetext="Mar"></span></a></th>
            <th><a href="{% url 'descripcion' objeto='dias' elemento='Miercoles' atributo=atributo %}"><span class="texto_responsive" data-desktoptext="Miercoles" data-phonetext="Mie"></span></a></th>
            <th><a href="{% url 'descripcion' objeto='dias' elemento='Jueves' atributo=atributo %}"><span class="texto_responsive" data-desktoptext="Jueves" data-phonetext="Jue"></span></a></th>
            <th><a href="{% url 'descripcion' objeto='dias' elemento='Viernes' atributo=atributo %}"><span class="texto_responsive" data-desktoptext="Viernes" data-phonetext="Vie"></span></a></th>
        </tr>
        {%for i in modulos_materia.values%}
        <tr>
            <th><a href="{% url 'descripcion' objeto='modulos' elemento=i.orden.orden atributo=atributo %}"><span class="texto_responsive" data-desktoptext="{{i.orden.orden}}{{i.orden.sufijo}} modulo" data-phonetext="{{i.orden.orden}}{{i.orden.sufijo}}"></span></a></th>
            <td><a href="{% url 'descripcion' objeto='materias' elemento=i.Lunes.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.Lunes.nombre}}" data-phonetext="{{i.Lunes.abreviacion}}"></span></a></td>
            <td><a href="{% url 'descripcion' objeto='materias' elemento=i.Martes.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.Martes.nombre}}" data-phonetext="{{i.Martes.abreviacion}}"></span></a></td>
            <td><a href="{% url 'descripcion' objeto='materias' elemento=i.Miercoles.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.Miercoles.nombre}}" data-phonetext="{{i.Miercoles.abreviacion}}"></span></a></td>
            <td><a href="{% url 'descripcion' objeto='materias' elemento=i.Jueves.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.Jueves.nombre}}" data-phonetext="{{i.Jueves.abreviacion}}"></span></a></td>
            <td><a href="{% url 'descripcion' objeto='materias' elemento=i.Viernes.nombre atributo='hdef' %}"><span class="texto_responsive" data-desktoptext="{{i.Viernes.nombre}}" data-phonetext="{{i.Viernes.abreviacion}}"></span></a></td>
        </tr>
        {%endfor%}
    </table>
</div>

<!-- REGISTRO DE FALTAS -->
<div class="registro-faltas" id="registro-faltas">
    <h1>Faltas Del Alumno</h1>
    <div class="falta">
        <h2>{{ 'Materia' }}</h2>
        <h2>{{ 'Dia-Horario' }}</h2>
        <h2>{{ 'CantFalta' }}</h2>
    </div>
    <div class="falta">
        <h2>{{ 'Materia' }}</h2>
        <h2>{{ 'Dia-Horario' }}</h2>
        <h2>{{ 'CantFalta' }}</h2>
    </div>
</div>
<script src="{% static '/js/profile.js' %}"></script>
{% endblock %}