{% extends "villadApp/base.html" %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/login.css'%}">
	

    <title>Registro</title>
</head>
<body>



{% block title %}
    Registro
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static '/css/register.css'%}">
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div>
	
</div>
{% endfor %}
{% endif %}
<!--Register--> 
<div class="div_prin">
	<div class="div_containt">
		<div class="div_img">
			<img src='/static/src/villadalogo.png' alt="" class="img_villada">
		</div>
		<h3 class='txt_ini'>REGISTRO</h3>
<hr>

	<form action="" method="POST">
    	{% csrf_token %}
		{% for field in form %}
        <div>
            <p class="label">{{ field.label }}: <br class='aaa'> {{ field }}</p> 

            {% for error in field.errors %}
			
            <small style="color: red">{{ error }}</small>
            {% endfor %}
    {% endfor %}
    <button class='btn_reg' type="submit">UNETE!</button>
	
	</div>

	</div>
</div>


</form>	

<!--

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="div-img-villada">
					<img src="../static/src/villadalogo.png" alt="" class="img-villada">
				</div>
				<div class="d-flex justify-content-center">
					<h3 id="form-title">REGISTRO</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div>

				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="REGISTRARSE">
				   		</div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Ya tenes una cuenta? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
		<div class="asistencias">
			<p>Alumno Ausente: 
				<select name="Alumno">
					{% for i in lista %}
						<option value="{{ i }}">{{ i }}</option>
					{% endfor %}
				</select> 
			</p>
		</div>
	</div>

	<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Nombre y Apellido...';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>


<script src="{%static '/js/login.js'%}"></script>
{% endblock %}