body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    background-image: url(../src/schoolPrincipio.jpg);
    background-position: center;
    background-size: cover;
}

.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.titulo h1{
    display: flex;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.cursos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}


/* obj1 */

.obj1{
    border: solid 2px black;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: none;
    background-color: #ffffff;
    margin: 0 5px;
}

.obj1:hover{
    background-color: rgb(19, 19, 19);
    color: white;
}

.curso1 {
    position: relative;
    display: inline-block;
  }
  
  .curso1-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0 5px;
  }

  .curso1-content a{
    font-size: 20px;
    font-style: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .curso1:hover .curso1-content {
    display: flex;
    flex-direction: column;
  }




  /* obj2 */

  .obj2{
    border: solid 2px black;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: none;
    background-color: #ffffff;
    margin: 0 5px;
}

.obj2:hover{
    background-color: rgb(19, 19, 19);
    color: white;
}

.curso2 {
    position: relative;
    display: inline-block;
  }
  
  .curso2-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0 5px;
  }

  .curso2-content a{
    font-size: 20px;
    font-style: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .curso2:hover .curso2-content {
    display: flex;
    flex-direction: column;
  }




/* obj3 */

    .obj3{
        border: solid 2px black;
        border-radius: 5px;
        height: 60px;
        width: 60px;
        font-size: 20px;
        font-style: none;
        background-color: #ffffff;
        margin: 0 5px;
    }
    
    .obj3:hover{
        background-color: rgb(19, 19, 19);
        color: white;
    }
    
    .curso3 {
        position: relative;
        display: inline-block;
      }
      
      .curso3-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 60px;
        border: solid 2px black;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        margin: 0 5px;
      }
    
      .curso3-content a{
        font-size: 20px;
        font-style: none;
        font-weight: bold;
        text-decoration: none;
        margin: 10px 0;
      }
      
      .curso3:hover .curso3-content {
        display: flex;
        flex-direction: column;
      }




/* obj4 */

  .obj4{
    border: solid 2px black;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: none;
    background-color: #ffffff;
    margin: 0 5px;
}

.obj4:hover{
    background-color: rgb(19, 19, 19);
    color: white;
}

.curso4 {
    position: relative;
    display: inline-block;
  }
  
  .curso4-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0 5px;
  }

  .curso4-content a{
    font-size: 20px;
    font-style: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .curso4:hover .curso4-content {
    display: flex;
    flex-direction: column;
  }




/* obj5 */

  .obj5{
    border: solid 2px black;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: none;
    background-color: #ffffff;
    margin: 0 5px;
}

.obj5:hover{
    background-color: rgb(19, 19, 19);
    color: white;
}

.curso5 {
    position: relative;
    display: inline-block;
  }
  
  .curso5-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0 5px;
  }

  .curso5-content a{
    font-size: 20px;
    font-style: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .curso5:hover .curso5-content {
    display: flex;
    flex-direction: column;
  }




  /* obj6 */

.obj6{
    border: solid 2px black;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: none;
    background-color: #ffffff;
    margin: 0 5px;
}

.obj6:hover{
    background-color: rgb(19, 19, 19);
    color: white;
}

.curso6 {
    position: relative;
    display: inline-block;
  }
  
  .curso6-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0 5px;
  }

  .curso6-content a{
    font-size: 20px;
    font-style: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .curso6:hover .curso6-content {
    display: flex;
    flex-direction: column;
  }



  /* obj7 */

.obj7{
    border: solid 2px black;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: none;
    background-color: #ffffff;
    margin: 0 5px;
}

.obj7:hover{
    background-color: rgb(19, 19, 19);
    color: white;
}

.curso7 {
    position: relative;
    display: inline-block;
  }
  
  .curso7-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0 5px;
  }

  .curso7-content a{
    font-size: 20px;
    font-style: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .curso7:hover .curso7-content {
    display: flex;
    flex-direction: column;
  }

  @media(max-width: 482px){
    body{
      background-image: url(../src/schoolFondo2.jpg);
      background-position: center;
    }

    .cursos{
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 10px;
    }

    .obj1{
      margin: 5px 0;
    }
    .obj2{
      margin: 5px 0;
    }
    .obj3{
      margin: 5px 0;
    }
    .obj4{
      margin: 5px 0;
    }
    .obj5{
      margin: 5px 0;
    }
    .obj6{
      margin: 5px 0;
    }
    .obj7{
      margin: 5px 0;
    }

    .curso1-content{
      right: -66px;
      top: 0px;
    }
    .curso2-content{
      right: -66px;
      top: 0px;
    }
    .curso3-content{
      right: -66px;
      top: 0px;
    }
    .curso4-content{
      right: -66px;
      top: 0px;
    }
    .curso5-content{
      right: -66px;
      top: 0px;
    }
    .curso6-content{
      right: -66px;
      top: 0px;
    }
    .curso7-content{
      right: -66px;
      top: 0px;
    }

    .curso1-content a{
      align-items: center;
    }


  }


  
  