body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
}

.container-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo{
    border: solid 2px rgb(2,0,92);
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 70px;
    box-shadow: 0px 1px 14px 9px rgba(2,0,92,0.75);
-webkit-box-shadow: 0px 1px 14px 9px rgba(2,0,92,0.75);
-moz-box-shadow: 0px 1px 14px 9px rgba(2,0,92,0.75);
}

.container-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
}

/*
.titulo{
    text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 30px; 
color: rgb(0, 0, 0); 
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
*/

.titulo {
    color: rgb(0, 0, 0);  /*Color letras de fondo*/
    font-size: 50px;
    position: relative;
    width: 80%;
    margin-top: 50px;
    font-family: 'Varela', sans-serif;
 }

.titulo:after {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    text-shadow: -1px 0 red;
    top: 0;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.titulo:before {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

 @keyframes noise-anim {
    0% {
      clip: rect(51px, 9999px, 28px, 0);
    }
    5% {
      clip: rect(70px, 9999px, 19px, 0);
    }
    10% {
      clip: rect(92px, 9999px, 13px, 0);
    }
    15% {
      clip: rect(85px, 9999px, 49px, 0);
    }
    20% {
      clip: rect(45px, 9999px, 56px, 0);
    }
    25% {
      clip: rect(26px, 9999px, 31px, 0);
    }
    30% {
      clip: rect(62px, 9999px, 73px, 0);
    }
    35% {
      clip: rect(34px, 9999px, 11px, 0);
    }
    40% {
      clip: rect(26px, 9999px, 61px, 0);
    }
    45% {
      clip: rect(34px, 9999px, 71px, 0);
    }
    50% {
      clip: rect(35px, 9999px, 69px, 0);
    }
    55% {
      clip: rect(92px, 9999px, 81px, 0);
    }
    60% {
      clip: rect(26px, 9999px, 85px, 0);
    }
    65% {
      clip: rect(2px, 9999px, 68px, 0);
    }
    70% {
      clip: rect(54px, 9999px, 79px, 0);
    }
    75% {
      clip: rect(35px, 9999px, 85px, 0);
    }
    80% {
      clip: rect(70px, 9999px, 60px, 0);
    }
    85% {
      clip: rect(32px, 9999px, 26px, 0);
    }
    90% {
      clip: rect(94px, 9999px, 53px, 0);
    }
    95% {
      clip: rect(99px, 9999px, 92px, 0);
    }
    100% {
      clip: rect(42px, 9999px, 27px, 0);
    }
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(21px, 9999px, 49px, 0);
    }
    5% {
      clip: rect(27px, 9999px, 52px, 0);
    }
    10% {
      clip: rect(21px, 9999px, 70px, 0);
    }
    15% {
      clip: rect(65px, 9999px, 25px, 0);
    }
    20% {
      clip: rect(24px, 9999px, 10px, 0);
    }
    25% {
      clip: rect(61px, 9999px, 64px, 0);
    }
    30% {
      clip: rect(34px, 9999px, 47px, 0);
    }
    35% {
      clip: rect(46px, 9999px, 93px, 0);
    }
    40% {
      clip: rect(46px, 9999px, 9px, 0);
    }
    45% {
      clip: rect(67px, 9999px, 36px, 0);
    }
    50% {
      clip: rect(72px, 9999px, 20px, 0);
    }
    55% {
      clip: rect(79px, 9999px, 26px, 0);
    }
    60% {
      clip: rect(13px, 9999px, 87px, 0);
    }
    65% {
      clip: rect(10px, 9999px, 25px, 0);
    }
    70% {
      clip: rect(85px, 9999px, 11px, 0);
    }
    75% {
      clip: rect(94px, 9999px, 35px, 0);
    }
    80% {
      clip: rect(50px, 9999px, 86px, 0);
    }
    85% {
      clip: rect(74px, 9999px, 67px, 0);
    }
    90% {
      clip: rect(1px, 9999px, 40px, 0);
    }
    95% {
      clip: rect(3px, 9999px, 48px, 0);
    }
    100% {
      clip: rect(90px, 9999px, 23px, 0);
    }
  }


.texto{
    font-size: 20px;
    margin-right: 70px;
}

/* RESPONSIVE ------------------------------------------------------- */
@media(max-width: 1050px){
    .logo{
        width: 300px;
        height: 300px;
    }

    .titulo{
        font-size: 35px;
    }
}

@media(max-width: 820px){
    .logo{
        width: 250px;
        height: 250px;
    }

    .titulo{
        font-size: 30px;
    }

    .texto{
        font-size: 16px;
    }
}

@media(max-width: 708px){
    .logo{
        width: 200px;
        height: 200px;
    }

    .titulo{
        font-size: 25px;
    }

    .texto{
        font-size: 12px;
    }
}

@media(max-width: 608px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo{
        margin-left: 0;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }

    .container-logo{
        margin-top: 5px;
    }

    .container-texto{
        margin-top: 5px;
        width: 70%;
    }

    .titulo{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .texto{
        margin-right: 0;
        text-align: center;
        font-size: 18px;
    }

    .titulo:after{
        animation: none;
    }

    .titulo:before{
        animation: none;
    }
}

@media(max-width: 400px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo{
        margin-left: 0;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
    }

    .container-logo{
        margin-top: 5px;
    }

    .container-texto{
        margin-top: 5px;
        width: 70%;
    }

    .titulo{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }

    .texto{
        margin-right: 0;
        text-align: center;
        font-size: 14px;
    }

    .titulo:after{
        animation: none;
    }

    .titulo:before{
        animation: none;
    }
}