@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body{
	margin: 0;
	font-family: "Montserrat",sans-serif;
	width: 100%;
	
}

.principal-main{
    width: 100%;
}


/* PERFIL */

.principal-profile{
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	text-align: center;
}

.principal-profile img{
	margin-top: 10px;
	width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0,2,23,0.75);
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,2,23,0.75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,2,23,0.75);
}

.principal-profile-info{
	font-size: 15px;
}


.botones{
	width: 100%;
	height: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 25px;
}

.button {
	display: inline-block;
	margin: 12px 10px;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	font-size: 19px;
	color: black;
	z-index: 1;
	width: 49%;
	height: 30px;
	border: none;
	background: transparent;
	border-bottom: solid black 1px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
   }
   
   .button:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
   }
   
   .button:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #030303;
	border-radius: 50%;
	display: block;
	transition: all 0.2s 0.1s cubic-bezier(0.2, 0, 0.1, 0.2);
	z-index: -1;
   }
   
   .button:hover {
	color: #ffffff;
	border: 1px solid #000000;
   }
   
   .button:hover:before {
	top: -35%;
	background-color: #000000;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
	top: -45%;
	background-color: #000000;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

.principal-menu{
    padding: 20px 25px;
    margin: 0px;
	display: flex;
    width: auto ;
    height: 100%;
    flex-direction: column;
    align-items: center;
	
}

/* TABLA */

.table{
	border-collapse: collapse;
	width: 100%;
}
.table a{
	text-decoration:none;
	color: black;
}
.table tr th{
	padding: 5px;
	border: 1px black solid;
	background-color: rgba(147, 161, 223,1);
}
.table tr th:hover{
	background-color: rgba(147, 161, 223,0.8);
}

.table tr td{
	padding: 5px;
	border: 1px black solid;
	
	background-color: rgba(255, 255, 255)
}
.table tr td:hover{
	padding: 5px;
	border: 1px black solid;
	background-color: rgb(219, 219, 219)
}

/* FALTA */

.registro-faltas{
	margin-top: 30px;
	width: 100%;	
	display: none;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	
}
.falta{
	margin: 10px;
	width: 80%;
	display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
	padding: 10px 0px;
	border-bottom: 1px solid black;
	color: rgb(65, 65, 65);

}

/* RESPOSIVE */
.texto_responsive:before{
    content: attr(data-desktoptext);
  }
  
  @media (max-width:600px){
      .texto_responsive:before {
          content: attr(data-phonetext);
      }
  }


@media(max-width:950px){
    .principal-main{
		padding: 10px 0px;
		grid-template-columns: 200px 1fr;
	}

	.principal-profile{
		margin: 0px 5px;
	}

	.principal-profile img{
		width: 150px;
	}
	.principal-menu{
		padding: 0px 10px;
	}
}

@media(max-width:810px){
    .principal-main{
		padding: 10px 0px;
		grid-template-columns: 200px 1fr;
	}
	.principal-profile{
		margin: 0px 4px;
	}
	.principal-menu{
		padding: 0px 5px;
	}
}

@media(max-width:790px){
    .principal-main{
		padding: 10px 20px;
		grid-template-columns: 1fr;
	}
	.principal-profile{
		margin: 20px 25px;
	}

	.principal-profile img{
		width: 300px;
	}
	.principal-menu{
		padding: 0px 10px;
	}
}
@media(max-width:600px){
    .principal-main{
		padding: 10px 15px;
		grid-template-columns: 1fr;
	}
	.principal-profile img{
		width: 275px;
	}
	.principal-menu{
		padding: 0px 5px;
	}
}


